<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/output.css') }}">
    
    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body class="bg-white text-black min-h-screen flex flex-col">
    {% if is_granted('ROLE_ADMIN') %}
            {% include 'components/navbar_admin.html.twig' %}
        {% else %}
            {% include 'components/navbar.html.twig' %}
        {% endif %}
        


    <main class="flex-grow p-6">
        {% block body %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script src="{{ asset('dist/bundle.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js"></script>
        <script>
            function scrollCarousel(direction) {
                const carousel = document.querySelector('.carousel');
                const scrollAmount = 300; // Ajustez cette valeur selon vos besoins
                carousel.scrollBy({
                    top: 0,
                    left: direction * scrollAmount,
                    behavior: 'smooth'
                });
            }
        </script>
    {% endblock %}
    
</body>
</html>